.Home {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Title {
    font-size: 20px;
}

.RegisterBookContainer {
    margin-top: 100px;
}

.ListBookContainer {
    width: 35vw;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}
