.Home {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 20px;
}

.Title {
    font-size: 20px;
}

.RegisterBookContainer {
    /* margin-right: 10px; */
    /* background-color: brown; */
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.ListBookContainer {
    width: 35vw;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}
